[submodule "libraries/fc"]
	path = libraries/fc
	url = https://github.com/scorum/fc
[submodule "hippomocks"]
	path = tests/hippomocks
	url = https://github.com/scorum/hippomocks
[submodule "autoscrorum"]
	path = autoscrorum
	url = https://github.com/scorum/autoscrorum.git
